.product-page {
	max-width: 1122px;
	padding-top: 160px;
	display: flex;
}

.product__pics {
	display: flex;
	width: 730px;
	margin-right: 100px;
}

.pics__list {}

.list-item {
	width: 80px;
	margin-right: 40px;
	margin-bottom: 40px;
}

.img-wrapper {
	max-width: 610px;
	max-height: 511px;
	overflow: hidden;
}

.product-img_bg {
	width: 100%;

	// width: 610px;
	// height: 511px;
	// object-fit: cover;
}

.product_img {
	max-width: 100%;
	width: 80px;
	height: 80px;
	object-fit: cover;
	transition: all 0.3s ease 0s;

	&:hover {
		cursor: pointer;
		border: 1px solid #000;
	}
}

.product-info {
	display: flex;
	margin-bottom: 72px;
	width: 292px;
}

.product__description {
	width: 292px;
}

.product__title {
	font-weight: 600;
	font-size: 30px;
	line-height: 90%;
	margin-bottom: 16px;
}

.product__subtitle {
	font-weight: 400;
	font-size: 30px;
	line-height: 90%;
	margin-bottom: 43px;
}

.block__title {
	font-family: 'Roboto Condensed';
	font-style: normal;
	font-weight: 700;
	font-size: 18px;
	line-height: 100%;
	text-transform: uppercase;
}

// .attribute-block__list {
// 	margin-top: 8px;
// 	margin-bottom: 40px;
// 	display: flex;
// 	align-items: center;
// 	flex-wrap: wrap;
// }
.attribute-block__list {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	margin-top: 8px;
	margin-bottom: 40px;
}

.attribute-block__list1 {
	display: flex;
	max-width: 292px;
}

.size-item {
	width: 63px;
	height: 45px;
	border: 1px solid #000;
	font-family: 'Source Sans Pro';
	font-weight: 400;
	line-height: 112%;
	text-transform: uppercase;
	display: flex;
	align-items: center;
	justify-content: center;
	cursor: pointer;

	&:not(:last-child) {
		margin-right: 12px;
	}

	&:hover {
		background-color: #000;
		color: #fff;
	}
}

// ._active {
// 	background-color: #000;
// 	color: #fff;
// }

.item-text {}

.product-price {
	font-weight: 700;
	font-size: 24px;
	line-height: 75%;
	margin: 10px 0 20px;
}

.add-button {
	width: 292px;
	padding: 16px 32px;
	margin-bottom: 40px;
}

.product-description-text {
	font-family: 'Roboto';
	font-weight: 400;
	line-height: 159.96%;
	width: 292px;
}

.size-block__list {
	display: flex;
	flex-direction: row;
}

.label-container {
	position: relative;
	height: 45px;
	width: 63px;
	margin-right: 12px;
	margin-bottom: 12px;
	cursor: pointer;
	font-size: 16px;
	font-family: 'Source Sans Pro';
	font-weight: 400;
	line-height: 112%;
	text-transform: uppercase;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	letter-spacing: 0.05em;

	input {
		position: absolute;
		opacity: 0;
		cursor: pointer;
	}

	&:hover input~.checkmark {
		background-color: #000;
	}

	& input:checked~.checkmark {
		background-color: #000;
		color: #fff;
	}
}

.checkmark {
	display: flex;
	justify-content: center;
	align-items: center;
	position: absolute;
	top: 0;
	left: 0;
	height: 45px;
	width: 63px;
	border: 1px solid #000;
}

label:hover {
	color: #fff;
	z-index: 1000;
}

@media(max-width: 991px) {
	.product-page {
		display: flex;
		flex-direction: column;
	}

	.product__pics {
		display: flex;
		flex-direction: column-reverse;
		width: auto;
		margin: 0 auto;
	}

	.img-wrapper {
		margin-bottom: 10px;
	}

	.pics__list {
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
	}

	.list-item {
		margin-right: 10px;
		min-width: 80px;
	}

	.product__description {
		margin-left: 10px;
	}
}